<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    xmlns:with="http://www.thymeleaf.org/extras/with" layout:decorate="~{layout}" with:title="Welcome">
<head>
    <script th:inline="javascript">
        const existingControllers = /*[[${existingcontrollers}]]*/ '[[${existingcontrollers}]]';
        console.log(existingControllers);
       function validateForm() {
           const selectElement = document.getElementById('allroles');
           const selectedOptions = Array.from(selectElement.selectedOptions);
           console.log("in validate");
           if (selectedOptions.length === 0) {
               console.log("in roles");
               alert('Please select at least one role.');
               return false;
           }

           const controllerInput = document.getElementById('name').value;
            if (existingControllers.includes(controllerInput)) {
                           console.log("in username");
                alert('The controller already exists. Please choose a different controller.');
                return false;
            }
           return true;
       }
    </script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/habibmhamadi/multi-select-tag@3.0.1/dist/css/multi-select-tag.css">

</head>
<th:block layout:fragment="content">
    <center>
        <h1 style="text-decoration: underline;">Add a Controller</h1>
    </center>
    <div th:if="${message}" th:text="${message}" th:class="${'alert ' + alertClass}" />
    <div class="my-2">
        <div class="col-md-12">
            <form action="#" th:action="@{/controller/addcontrollersubmit}" th:object="${controllers}" method="post" onsubmit="return validateForm()">
                <div class="row">
                    <div class="form-group col-md-8">
                        <label for="name" class="col-form-label">ControllerName</label>
                        <input type="text" th:field="*{name}" class="form-control" id="name" placeholder="Controller End Point" required>
                        <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-8">
                        <label for="allroles" class="col-form-label">Role</label>
                        <select name="roleIds" id="allroles" multiple >
                            <option th:each="role : ${roles}" th:value="${role.id}" th:text="${role.name}"
                                    th:selected="${role.name == 'ROLE_ADMIN'}"></option>
                        </select>
                    </div>
                   
                    <div class="col-md-6">
                        <input type="submit" class="btn btn-primary" value="Add Controller">
                        <a class="btn btn-primary" th:href="@{/controller/controllerlist}">Go Back</a>
                    </div>
                    <div class="form-group col-md-8"></div>
                </div>
            </form>
            <script src="https://cdn.jsdelivr.net/gh/habibmhamadi/multi-select-tag@3.0.1/dist/js/multi-select-tag.js"></script>
            <script>
                new MultiSelectTag('allroles')  //
            </script>
        </div>
    </div>
</th:block>

</html>