<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:with="http://www.thymeleaf.org/extras/with" layout:decorate="~{layout}" with:title="Welcome">
<th:block layout:fragment="content">
	<br/>
	<center>
		<h1 style="text-decoration: underline;">Welcome to the ASTRO PROJECT</h1>
	</center>
	<br/>
	<div th:if="${message}" th:text="${message}" th:class="${'alert ' + alertClass}" />
	<div class="my-2">
		<div class="col-md-12">
			<div class='row d-flex justify-content-center'>
			</div><br />
			<div class='row d-flex justify-content-center'>
				<div class="card-group">
					<div class="col-6">
						<div class="card text-center" style="width: 18rem;">
							<div class="card-header">Users</div>
							<div class="card-body">
								<p class="card-text">click below to know more about Users.
								</p>
								<a href="/user/list" class="btn btn-primary">Go To Users</a>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div style="margin-top: 20px;"></div>
			<div class='row d-flex justify-content-center'>
				<div class="card-group">
					
				</div>
			</div>
		</div>
	</div>
</th:block>

</html>